*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    color: #fff;
}
body{
    background-color: #0f0f0f;
    font-family: "Dancing Script", cursive;

}

.navbar{
     position: fixed; 
    width: 100%;
    display: flex;
    
    padding: 30px 120px;
    background-color: transparent;
    justify-content: space-between;
    z-index: 1111;
    transition: 0.5s;
}

.navbar.sticky{
    padding: 6px 60px;
    background: #222;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.navbar.sticky .logo {
    font-size: 2em;
    color: whitesmoke;
}

.logo{
    font-size: 2.3em;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

.join{
    margin-left: 45%;
}
.logo b{
     color: whitesmoke;
}

ol{
    display: flex;
}

ol li{
    list-style: none;
    margin-right: 20px;
}

ol li a{
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
}

ol li:hover a{
    color: red;
}

.view{
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.home{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.bground{
    height: 100%;
    width: 100%;
    position: absolute;
   background-image: url("./images/bg.png");
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
}

 .highlights{
    width: 70%;
    position: relative;
    display: inline-block;
    z-index: 11;
} 

 .highlights h3{
    display: inline;
    font-size: 2vw;
    padding: 5px 20px;
    font-weight: lighter;
    text-transform: capitalize;
    border-left: solid 6px whitesmoke;
} 

.highlights h1{
    font-size: 9vw;
    text-align: center;
}

.highlights h1 b{
    color: whitesmoke;
    font-weight: 800;
    font-family: sans-serif;
}
i {
    padding: 10px;
    font-size: 2rem;
  }
  
  #footer {
    margin: 20px;
    margin-left: 43%;
  }
form {
    font-size: 1.3rem;
    font-weight: bold;
    height: 500px;
    width: 400px;
    display: grid;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 7px 10px #797272;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    background-color: #d7d0d0;
    
  }
  label {
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(87, 81, 81);
    
  }
  label>a{
    color: #0b19e3;
    margin: 0px;
  }
  input {
    padding: 10px;
    margin-top: 3px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 20px;
  }
  button {
    margin: 20px;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-left: 60px;
    color: #000;
    background-color:grey;
   transition: 0.2s ease;
  }
  textarea {
    border: 1px solid black;
    margin: 10px;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
  }
  button:hover {
    background-color:blue;
    color: grey;
      /* filter: brightness(100%); */
    transform: scale(1.08);
    cursor: pointer;
  }

.highlights .tagline{
    color: #d7d7d7;
    font-size: 1.2vw;
    text-align: center;
}

.highlights .join{
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    font-weight: 800;
    padding: 5px 20px;
    font-size: 1.5vw;
    margin-top: 2em;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    background: transparent;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.highlights .join:hover{
    color: black;
    cursor: pointer;
    background: lightblue;
}

.main{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.main h2{
    font-size: 2.5vw;
    position: relative;
    text-align: center;
    padding-top: 150px;
    display: inline-block;
}

.main h6{
    margin-top: 10px;
    font-size: 13px;
    font-family: sans-serif;
   
}

.content{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 30px;
    justify-content: center;
}

.about .content .columns{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 70px;
}

.about .content .columns p b{
    font-size: 20px;
    margin-right: 2px;
}

.about .content .columns a{
    position: relative;
    top: 20px;
    color: #fff;
    /* background: var(--prime); */
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.about .content .columns a:hover{
    color: #000;
    background-color: #fff;
}
.about .content .columns .box{
    position: relative;
    height: 550px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.about .content .columns .box img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.order .content{
    flex-wrap: wrap;
}

.order .content .frame{
    position: relative;
    width: 350px;
    padding: 20px;
    margin: 10px;
    background: #222;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.order .content .frame .box{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.order .content .frame .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease;
    border-radius: 20px;
}

.order .content .frame .box:hover img{
    filter: brightness(100%);
    transform: scale(1.08);
    cursor: pointer;
}

.order .content .frame .title{
    color: var(--prime);
    padding: 5px 0;
}

.order .content .frame p{
    font-size: 0.8em;
}

.favorite .content{
    flex-wrap: wrap;
}

.favorite .content .row{
    display: flex;
    position: relative;
    width: 200%;
    padding: 20px 0;
    justify-content: center;
}

.favorite .content .row:nth-child(odd) .a{
    order: 2;
}

.favorite .content .row .columns{
    position: relative;
    width: 600px;
    padding: 20px 50px;
}

.favorite .content .row .columns .heading{
    font-size: 2em;
    color: rgb(58, 95, 189);
    text-transform: capitalize;
}



.favorite .content .row .columns .boxes{
    position: relative;
    width: 100%;
    height: 350px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.favorite .content .row .columns .boxes img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}
.favorite .content .row .columns .boxes img:hover{
      filter: brightness(100%);
    transform: scale(1.08);
    cursor: pointer;
}



@media screen and (max-width:900px) 
{
    .navbar{
        padding: 0 60px;
    }
    .navbar ol{
        display: none;
    }
    .navbar  ol.active{
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        position: fixed;
        background: #222;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 60px);
    }
    .navbar  ol.active li{
        margin: 8px;
    }
    .navbar  ol.active li a{
        font-size: 25px;

    }
    .navbar .toggle{
        height: 25px;
        width: 25px;
        margin: auto 0;
        cursor: pointer;
        background: url('./images/menubar.jpg');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .navbar .toggle.active{
        background: url('./images/close.png');
        background-size: 40px;
        background-position: center;
        cursor: pointer;
    
    }
    .highlights h3{
        font-size: 4vw;
        padding: 5px 10px;
    }
    .highlights h1{
        font-size: 13vw;
    }
    .highlights .join{
        font-size: 1.8vw;
        border: 1px solid var(--prime);
    }
    .main h2{
        font-size: 1.5rem;
    }
    .main h6{
        font-size: 10px;
    }
    .about .content{
        flex-direction: column;
    }
    .order.content .frame{
        width: 260px;
        padding: 18px;
    }
    .favorite .content .row{
        flex-direction: column;
    }
    .favorite .content .row .columns{
        width: 100%;
    }
    img{
        width: 100px;
        height: 150px;
    }
    .favorite .content .row:nth-child(odd) .a{
        order: 0;
    }
    .favorite .content .row .columns .heading{
        font-size: 1.5rem;
    }
    .favorite .content .row .columns{
        font-size: 10px;
    }
    .favorite .content .row .columns .boxes{
        width: 90%;
        margin: auto;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    i{
        margin-left: 30%;
    }
  
}
